.con{
background-color: pink;
display: grid;
grid-template-areas: 'a a a a' '. c b e' '. c d e' 'f f f f';
}

.box{
border: 2px solid black;
padding: 40px;
}

.a{
    grid-area: a;
}

.b{
    grid-area: b;
}

.c{
    grid-area: c;
}

.d{
    grid-area: d;
}

.e{
    grid-area:e;
}

.f{
    grid-area: f;
}